* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #0a3b63;
  background-size: cover;
  background-position: center;
  font-family: Courier New, Monospace;
  color: rgb(256, 256, 256);
  margin: 0;
  padding: 0;
  text-align: center;
}

.light-mode {
  background-color: #D2EAF3;
  color: black;
}


.typing::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
