body {
  background-color: #0a3b63;
  background-size: cover;
  background-position: center;
  font-family: Courier New, Monospace;
  color: rgb(256, 256, 256);
  margin: 0;
  padding: 0;
  
}
.heading {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 20px;
}
.typing::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
